.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 28px;
        font-weight: 400;

        &:hover {
            color: #1CDAE6;
        }
    }
}

.header-navbar {
    display: flex;
    gap: 30px;
}

.pad-left-right {
    padding-left: 10%;
    padding-right: 10%;
}