<div class="header pad-left-right">
    <div class="header-logo">
        <a href="#" (click)="resetActiveLink()">
            <h1>N<span class="cutted-i cutted-i-top">i</span>kol<p>a</p></h1>
        </a>
    </div>    
    <div class="header-navbar">
        <a href="#about-me" 
       (click)="setActiveLink('about-me')" 
       [class.active-link]="activeLink === 'about-me'">About me</a>
        <a href="#skills" 
        (click)="setActiveLink('skills')" 
        [class.active-link]="activeLink === 'skills'">Skills</a>
        <a href="#">Portfolio</a>
    </div>
</div>