<footer class="pad-left-right">
    <div class="header-logo">
        <a href="#">
            <h1>N<span class="cutted-i cutted-i-top">i</span>kol<p>a</p></h1>
        </a>
        <span class="impressum">Impressum</span>
    </div> 
    <span class="span-center">© Nikola Vujovic 2023</span>
    <div class="footer-icons">
        <a href="https://github.com/NikolaVujovic1988" target="_blank" class="icon-link">
            <img class="icons" src="/assets/images/icons/github.png" alt="GitHub">
        </a>
        <a href="#contact" class="icon-link">
            <img class="icons" src="/assets/images/icons/email.png" alt="Email">
        </a>
        <a href="https://www.linkedin.com/in/nikola-vujovic-14514a62/" target="_blank" class="icon-link">
            <img class="icons" src="/assets/images/icons/linkedin.png" alt="LinkedIn">
        </a>

    </div>
</footer>
