<div class="about-me-section" id="about-me">

    <div class="about-me-text-section pad-left-right">
        <h1 data-aos="fade-right">About me</h1>
        <span data-aos="fade-right">
            Hi there! I'm Nikola Vujovic, a German-speaking front-end developer from Remscheid, NRW. Passionate about
            the evolving world of web development, I specialize in creating engaging, user-friendly web interfaces using
            the latest technologies. My work is characterized by visually appealing, functional, and intuitive web
            designs. </span>
        <div class="bulb-section">
            <div data-aos="fade-right" class="icons-section">
                <img src="/assets/images/bulb.png" alt="bulb">
            </div>
            <p data-aos="fade-right">
                My background in robot programming has fine-tuned my precision and problem-solving
                skills, perfectly complementing my front-end development work. This experience in programming complex
                systems empowers me to develop sophisticated and efficient web solutions, bridging the gap between
                technical complexity and user experience.</p>
        </div>
        <div class="puzzle-section">
            <div data-aos="fade-right" class="icons-section">
                <img src="/assets/images/puzzle.png" alt="puzzle">
            </div>
            <p data-aos="fade-right">
                As my career progressed, my fascination with front-end development grew exponentially. Motivated by this
                interest, I embarked on an intensive, project-focused education at the Developer Academie in Munich.
                Now, as a professional front-end developer, I am eager to apply my comprehensive training and hands-on
                experience to realize innovative and impactful software projects.</p>
        </div>
    </div>
    <div class="about-me-image-section" data-aos="zoom-in" data-aos-offset="100">
        <img src="/assets/images/myPhoto.png" alt="profile-image">
        <div class="design-line">

        </div>
    </div>
</div>