.about-me-section {
    height: 100svh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .about-me-blur {
        position: absolute;
        top: -15vh;
        right: 0;
    }
}

.about-me-text-section {
    color: white;
    width: 50%;

    h1 {
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .bulb-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .puzzle-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icons-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;

        &:hover {
            scale: 1.2;
        }
    }

    p {
        width: 75%;
    }
}

.about-me-image-section {
    display: flex;
    align-items: center;

    .design-line {
        min-width: 34%;
        height: 4px;
        background-color: #00BEE8;
    }

    img {
        height: 66%;
        width: 66%;
        border-radius: 100%;
        border: 4px solid #00BEE8;
        object-fit: contain;
    }

}