<div class="about-me-section" id="about-me">

    <div class="about-me-text-section pad-left-right" data-aos="fade-right"
    data-aos-offset="400">
        <h1>About me</h1>
        <span>
            Hi, I am a Front-end deverloper based in Remscheid, NRW, Germany(....)Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus
            eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
        </span>
        <div class="bulb-section">
            <div class="icons-section">
                <img src="/assets/images/bulb.png" alt="bulb">
            </div>
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="puzzle-section">
            <div class="icons-section">
                <img src="/assets/images/puzzle.png" alt="puzzle">
            </div>
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
    <div class="about-me-image-section" data-aos="zoom-in">
        <img src="/assets/images/myPhoto.png" alt="profile-image">
        <div class="design-line">

        </div>
    </div>
    <img class="about-me-blur" src="/assets/images/about-me-blur.png" alt="">
</div>