<div class="about-me-section" id="about-me">

    <div class="about-me-text-section pad-left-right" data-aos="fade-up">
        <h1>About me</h1>
        <span>
            Hi there! My name is Nikola Vujovic, and I'm German speaking frontend developer based in Remscheid, NRW.
            Fascinated by the dynamic and ever-changing landscape of web development, I take great pleasure in crafting
            engaging and intuitive web interfaces.

            My focus lies in utilizing the latest technologies to create websites that are not only visually striking
            but also highly functional and user-friendly. I am constantly exploring new techniques and approaches to
            stay ahead in this fast-paced field and deliver standout digital experiences.
        </span>
        <div class="bulb-section">
            <div class="icons-section">
                <img src="/assets/images/bulb.png" alt="bulb">
            </div>
            <p>My previous journey in robot programming has fine-tuned my precision and problem-solving skills,
                perfectly complementing my frontend development work. This background in programming complex systems
                empowers me to develop sophisticated and efficient web solutions, bridging the gap between technical
                complexity and user experience.</p>
        </div>
        <div class="puzzle-section">
            <div class="icons-section">
                <img src="/assets/images/puzzle.png" alt="puzzle">
            </div>
            <p>During my programming career, I became increasingly interested in frontend development. So I decided to
                pursue an intensive, practice-oriented education program in that field. Now I'm looking forward to
                realize exciting software projects as a professional developer.

            </p>
        </div>
    </div>
    <div class="about-me-image-section" data-aos="zoom-in" data-aos-offset="100">
        <img src="/assets/images/myPhoto.png" alt="profile-image">
        <div class="design-line">

        </div>
    </div>
</div>