<div class="all-projects pad-left-right">

    <div class="first-project" data-aos="fade-right">
        <div class="project-image">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/join.png" alt="join" href="#">
            </a>
        </div>
        <div class="project-description">
            <h2>Join</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </span>
            <div class="projects-btns">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <button class="project-link">Live test</button>
                </a>
                <a href="https://github.com/NikolaVujovic1988/Join" target="_blank" rel="noopener noreferrer">
                    <button class="github-link">Github</button>
                </a>
            </div>
        </div>
    </div>

    <div class="second-project" data-aos="fade-left">
        <div class="project-image">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/join.png" alt="join" href="#">
            </a>
        </div>
        <div class="project-description">
            <h2>Twilight Trespass</h2>
            <h3>JavaScript | OOP | HTML | CSS</h3>
            <span>A simple Jump-and-Run game based on an object-oriented approach.
                Assist the young girl in her quest to collect arrows and coins, using her bow and arrow to battle
                against hyenas, flying bugs, and ultimately, to conquer the giant hyena. </span>
            <div class="projects-btns">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <button class="project-link">Live test</button>
                </a>
                <a href="https://github.com/NikolaVujovic1988/Twilight-Trespass" target="_blank" rel="noopener noreferrer">
                    <button class="github-link">Github</button>
                </a>
            </div>
        </div>
    </div>

    <div class="third-project" data-aos="fade-right">
        <div class="project-image">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/join.png" alt="join" href="#">
            </a>
        </div>
        <div class="project-description">
            <h2>Pokedex</h2>
            <h3>JavaScript | API | HTML | CSS</h3>
            <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</span>
            <div class="projects-btns">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <button class="project-link">Live test</button>
                </a>
                <a href="https://github.com/NikolaVujovic1988/Pokedex" target="_blank" rel="noopener noreferrer">
                    <button class="github-link">Github</button>
                </a>
            </div>
        </div>
    </div>


</div>