<div class="all-projects pad-left-right">

    <div class="first-project" data-aos="fade-right">
        <div class="project-image">
            <img src="/assets/images/join.png" alt="join" href="#">
        </div>
        <div class="project-description">
            <h2>Join</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </span>
            <div class="projects-btns">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <button class="project-link">Live test</button>
                </a>
                <a href="https://github.com/NikolaVujovic1988/myJoin" target="_blank" rel="noopener noreferrer">
                    <button class="github-link">Github</button>
                </a>
            </div>
        </div>
    </div>

</div>