<div class="skills pad-left-right" id="skills">
    <div class="skills-icons">

    </div>
    <div class="skills-headline">
        <div class="headlines">
            <h1>My skills</h1>
            <h3>I have grown my frontend developments skills that have allowed me to create different real projects.
            </h3>
            <div class="design-line-container" data-aos="flip-left"
            data-aos-offset="400"></div>
        </div>
        <button data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="800">Get in touch!</button>
    </div>
</div>