<div class="skills pad-left-right" id="skills">
    <div class="skills-icons">
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/Angular.png" alt="Angular">
            <p>Angular</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/TypeScript.png" alt="TypeScript">
            <p>TypeScript</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/Javascript.png" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/Api.png" alt="API">
            <p>Rest-API</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/html.png" alt="HTML5">
            <p>HTML5</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/css.png" alt="CSS3">
            <p>CSS3 / SCSS</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/git.png" alt="Git">
            <p>Git</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/Firebase.png" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/scrum.png" alt="scrum">
            <p>Scrum</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/wp.png" alt="wp">
            <p>WordPress</p>
        </div>
        <div class="icon" data-aos="flip-right"
        data-aos-offset="100">
            <img src="/assets/images/icons/material.png" alt="material">
            <p>Material design</p>
        </div>
    </div>
    <img class="blur-shape" src="/assets/images/skills-blur.png">
    <div class="skills-headline">
        <div class="headlines">
            <h1>My skills</h1>
            <h3>I have grown my frontend developments skills that have allowed me to create different real projects.
            </h3>
            <div class="design-line-container" data-aos="flip-left"
            data-aos-offset="100"></div>
        </div>
        <button data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="200">Get in touch!</button>
    </div>
</div>