.skills {
    min-height: 80svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10svh;
    position: relative;

    .blur-shape {
        position: absolute;
        left: 0;
        bottom: -60vh;
    }

    .skills-icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        z-index: 1;

        .icon {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-right: 6%;
            padding-top: 3%; 
            padding-bottom: 3%;
        }

        img {
            width: 8vw;
            height: 8vh;
            object-fit: contain;

            &:hover {
                scale: 1.1;
            }
        }

        p {
            color: white;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .skills-headline {
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .headlines {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                position: relative;
                color: white;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
                text-align: right;
                margin: 0;
            }

            .design-line-container {
                position: absolute;
                height: 4px;
                width: 7%;
                right: 0;
                top: 45%;
                background-color: #4B47FF;
            }

            h3 {
                font-weight: 300;
                font-size: 16px;
                text-align: right;
                line-height: 19.2px;
                color: white;
                margin-bottom: 10%;
            }
        }


        button {
            padding: 15px 30px;
            cursor: pointer;
            color: white;
            background-color: #00BEE8;
            border-radius: 10px;
            border: none;
            gap: 10px;
            font-weight: 400;
            font-size: 23px;

            &:hover {
                scale: 1.2;
                transition: 125ms ease-in-out;
                background-color: #4B47FF;
            }
        }
    }
}