<div class="front-page">
    <div class="front-page-headline">
        <div class="introdution pad-left-right">
            <div class="headline-collumn" data-aos="zoom-in">
                <span>I am</span>
                <div>
                    <h2>Nikola Vujovic</h2>
                    <h3>Frontend Developer</h3>
                </div>
            </div>
            <div class="button">
                <button data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="800">Let's talk!</button>
            </div>
        </div>
    </div>
</div>
<div class="front-page-footer">
    <img class="profile-image" src="/assets/images/profile-image-handy.png" alt="Profile Image">
    <div class="footer-shape">
        <img src="/assets/images/frontpage-footer-shape.png" alt="">
    </div>
    <div class="footer-icons">
        <div class="design-line"></div>
        <div class="icons-container pad-left-right">
            <a href="https://github.com/NikolaVujovic1988" target="_blank" class="icon-link">
                <img class="icons" src="/assets/images/icons/github.png" alt="GitHub">
            </a>
            <a href="#" class="icon-link">
                <img class="icons" src="/assets/images/icons/email.png" alt="Email">
            </a>
            <a href="https://www.linkedin.com/in/nikola-vujovic-14514a62/" target="_blank" class="icon-link">
                <img class="icons" src="/assets/images/icons/linkedin.png" alt="LinkedIn">
            </a>
            <a href="mailto:contact&#64;nikola-vujovic.com">
                <span class="footer-contact">contact&#64;nikola-vujovic.com</span>
            </a>
            <a href="#" class="footer-scrol-down">
                <img src="/assets/images/Scroll down.png" alt="">
            </a>
        </div>
    </div>
</div>