<div class="front-page">
    <div class="front-page-image">
        <img class="profile-image" src="/assets/images/myPhoto1.png" alt="Profile Image">
    </div>
    <div class="front-page-headline">
        <div class="headline-collumn">
            <span>I am</span>
            <div>
                <h2>Nikola Vujovic</h2>
                <h3>Frontend Developer</h3>
            </div>
        </div>
        <div class="button">
            <button>Let's talk!</button>
        </div>
    </div>
</div>