@import '~aos/dist/aos.css';


.front-page {
    min-height: 80svh;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url('/assets/images/frontpage-bg-blur.png');
    background-repeat: no-repeat;
    background-size: contain;


    .frontpage-image {

        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;



        .profile-image {
            object-fit: contain;
            width: 440px;
            height: 500px;

        }
    }

    .front-page-headline {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        z-index: 1;

        .introdution {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .headline-collumn {
            display: flex;
            align-items: center;
        }

        .button {
            margin-top: 5vh;
            z-index: 999;


            button {
                padding: 1rem 2rem;
                cursor: pointer;
                color: white;
                background-color: #00BEE8;
                border-radius: 10px;
                border: none;
                gap: 10px;
                font-weight: 400;
                font-size: 1.5rem;

                &:hover {
                    scale: 1.2;
                    transition: 125ms ease-in-out;
                    background-color: #4B47FF;
                }
            }
        }

        span {
            color: white;
            font-weight: 400;
            font-size: 3.75rem;
            transform: rotate(-90deg);
            display: inline-block;
        }

        .headlines {

            h2 {
                color: white;
                margin: 0;
                font-weight: 700;
                font-size: 3.85rem;
                ;
                margin-bottom: 0;
                letter-spacing: 0.07em;
            }

            h3 {
                color: #4B47FF;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 400;
                font-size: 3.25rem;
            }
        }
    }

}

.footer-shape {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    width: 100svw;
    max-width: 100%;

}

.front-page-footer {
    min-height: 10svh;
    width: 100svw;
    width: 100%;
    position: relative;

    .footer-icons {
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        margin-top: -10svh;


        .design-line {
            width: 10%;
            height: 5px;
            background-color: #4B47FF;
            z-index: 1111;
            animation: slideFromLeft 1s ease-out 500ms forwards;
            opacity: 0;

        }

        .icons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 2%;


            .icons {
                width: 30px;
                height: 30px;
                display: flex;
                margin-left: 21px;
                margin-right: 21px;


                &:hover {
                    scale: 1.2;
                    cursor: pointer;
                }
            }

            .footer-scrol-down {
                position: absolute;
                right: 5%;
                bottom: 0%;

                img {
                    filter: brightness(0) invert(1);
                    animation: slideDown 5s infinite;
                    cursor: pointer;
                }

                @keyframes slideDown {

                    0%,
                    100% {
                        transform: translateY(-150%);
                        opacity: 0;
                    }

                    50% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }

        .footer-contact {
            color: white;
            text-decoration: none;
            margin-left: 21px;
            margin-right: 21px;
            font-size: 23px;
            font-weight: 400;
        }


    }

}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 1600px) {
    .front-page {
        .frontpage-image {
            .profile-image {
                height: auto;
                width: 80%;
            }
        }

        .front-page-headline {
            .button {
                margin-top: 5vh;

                button {
                    padding: 15px 30px;
                    font-size: 23px;

                    &:hover {
                        scale: 1.2;
                        transition: 125ms ease-in-out;
                        background-color: #9747FF;
                    }
                }
            }

            span {
                font-size: calc(64px + (100svw - 1600px) * 0.005);
            }

            .headlines {

                h2 {

                    font-size: calc(70px + (100vw - 1600px) * 0.005);
                    letter-spacing: 0.08em;
                }

                h3 {
                    margin-bottom: 0;
                    font-weight: 400;
                    font-size: calc(60px + (100vw - 1600px) * 0.005);
                }

            }
        }
    }
}


@media screen and (max-width: 999px) {
    .front-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position-x: center;
        min-height: 80svh;


        .footer-shape {
            height: 40vh;
            width: 100svw;
            max-width: 100%;
        }


        .frontpage-image {
            width: 100%;

            .profile-image {
                object-fit: contain;
                width: 100vw;
                max-width: 100%;
            }
        }

        .introdution {
            margin-left: -2.375rem;

            .button {
                margin-top: 2rem;

                button {
                    padding: 2rem, 4rem;
                    font-size: 2.2rem !important;

                }
            }


            .front-page-headline {
                margin-right: 0;
                align-items: center;

                span {
                    font-size: 4.75rem;
                }

                .headlines {

                    h2 {
                        font-size: 4.85rem;
                    }

                    h3 {
                        font-size: 4.15rem;
                    }
                }
            }
        }


    }

    .footer-icons {
        margin-top: 0 !important;

        .icons-container {
            padding-left: 0 !important;
            width: 100%;
            justify-content: center !important;
            align-items: flex-start !important;


            .footer-contact {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    span {
        font-size: 4.25rem !important;
    }

    .headlines {

        h2 {
            font-size: 4.35rem !important;
        }

        h3 {
            font-size: 3.65rem !important;
        }
    }
}

@media screen and (max-width: 585px) {

    span {
        font-size: 3.75rem !important;
    }

    .headlines {

        h2 {
            font-size: 3.85rem !important;
        }

        h3 {
            font-size: 3.15rem !important;
        }

    }
}

@media screen and (max-width: 525px) {
    .front-page {
        background-size: cover;
        min-height: 75svh !important;
    }

    .front-page-headline {
        margin-top: 10%;
    }

}