<div class="front-page">
    <div class="front-page-headline">
        <div class="introdution">
            <div class="headline-collumn">
                <span>I am</span>
                <div>
                    <h2>Nikola Vujovic</h2>
                    <h3>Frontend Developer</h3>
                </div>
            </div>
            <div class="button">
                <button data-aos="fade-up" data-aos="fade-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="800">Let's talk!</button>
            </div>
        </div>
    </div>
</div>
<div class="front-page-footer">
    <img class="profile-image" src="/assets/images/profile-image-handy.png" alt="Profile Image">

    <img src="/assets/images/front-page-footer-shape2.png" alt="">
</div>