.popup-container {
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    background: rgba(20, 29, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    z-index: 9999;
    color: white;

    .popup-content {
       width: 80%;
       height: 90%;

       .headline-close {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 20px;
            cursor: pointer;
        }
       }

        h1 h2 p span {
            color: white !important;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }
    }
}